body {
    background-color: rgb(240, 232, 232);
}

.items {
    width: 1000px;
    margin: auto;
    display: flex;
    padding: 100px;
}

.item {
    width: 25%;
    height: 320px;
    border-radius: 15px;
    background-color: white;
    transition: transform 1s, background-color 1s;
    text-align: center;
    margin: 3px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(92, 89, 89, 0.568);
}

.item:hover {
    transform: scale(1.03);
    background-color: #a1b5c9;
}

.purple {
    color: rgb(158, 52, 158);
    background-color: rgb(158, 52, 158);
    height: 2px;
}

.column {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.price {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.price-under {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(190, 188, 188);
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 22px;
}

a.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1.5em ;
    border-radius: 5px;
    background: rgb(158, 52, 158);
    transition: 0.2s;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.button7:hover {
    background: rgb(128, 31, 128);
}

a.button7:active {
    background: rgb(102, 15, 102);
}

.bottom-buy {
    margin-top: 20px;
}

.orange {
    color: orange;
    background-color: orange;
    height: 2px;
}

.button1 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1.5em ;
    border-radius: 5px;
    background: orange;
    transition: 0.2s;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.button1:hover {
    background: rgb(112, 81, 22);
}

a.button1:active {
    background: rgb(87, 60, 9);
}

.blue {
    color: rgb(75, 45, 204);
    background-color: rgb(75, 45, 204);
    height: 2px;
}

.button2 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1.5em ;
    border-radius: 5px;
    background: rgb(75, 45, 204);
    transition: 0.2s;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.button2:hover {
    background: rgb(52, 30, 150);
}

a.button2:active {
    background: rgb(34, 17, 109);
}

.green {
    color: rgb(33, 138, 115);
    background-color: rgb(33, 138, 115);
    height: 2px;
}

.button3 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .6em 1.5em ;
    border-radius: 5px;
    background: rgb(33, 138, 115);
    transition: 0.2s;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.button3:hover {
    background: rgb(18, 99, 81);
}

a.button3:active {
    background: rgb(8, 80, 64);
}
